# yarn
.yarn/*
#!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
.yarn/versions

/dist

node_modules

# IDEs and editors
.idea
.DS_Store

# packages
povio-resolve-config-*

*.resolved.yml